body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.sidebar {
    background-color: black;
    width: 340px;
    border-radius: 1rem /*16px*/;
    margin-right: 0.5rem;
}
.main-content {
    flex: 1;
    border-radius: 1rem;
    background-color: #121212;
    padding: 0 1rem;
    overflow: auto;
}
.music-player {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
}
a {
    text-decoration: none;
    color: white;
}
.nav {
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}
.nav-option {
    opacity: 0.7;
    line-height: 2rem;
    padding: 0.3rem 1.5rem;
}
.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size:1.25rem;
}
.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}
.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
}
.library {
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
}
.options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.45rem;
}
.icons i {
    margin-right: 2rem;
    opacity: 0.7;
}
.icons i:hover {
    opacity: 1;
}
.icons {
    font-size: 1rem;
    display: flex;
}
.lib-box {
    border-radius: 0.5rem;
}
.box {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
    padding: 1rem 1.25rem;
    margin: 0.5rem 0 1.5rem 0;
    background-color: #232323;
    border-radius: 1rem;
}
.box .box-p1 {
    font-weight: 600;
}
.badge {
    width: fit-content;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 600;
    background-color: white;
    border: none;
    margin-top: 0.75rem;
    height: 2rem;
}
.sticky-nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0 0.5rem 0;
    top: 0;
    background-color: #121212;
    z-index: 1;
}
.sticky-nav-icons img {
    margin-right: 1rem;
}
.sticky-nav-options {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sticky-items {
    margin-right: 1rem;
    margin-top: 0;
}
.sticky-nav-options i {
    margin-right: 0.5rem;
}
@media(max-width:1000px) {
    .dis, #forward-icon {
        display: none;
    }
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.75rem;
    width: 150px;
    background-color: #232323;
    border-radius: 1rem;
    height: 15rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.card img{
    width: 100%;
    border-radius: 0.5rem;
}
.card-title {
    width: 100%;
    display: flex;
    align-items: start;
    font-weight: 700;
    margin: 1rem 0 0.5rem 0;
}
.card-info {
    opacity: 0.6;
    line-height: 1.25rem;
    font-size: 0.7rem;
}
.footer {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
    border-top: solid 1px white;
    opacity: 0.4;
    width: 90%;
    height: 20%;
}
.player-album {
    width: 25%;
}
.player {
    width: 50%;
}
.controls {
    width: 25%;
}
.music-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player-controls img {
    height: 1rem;
    margin: 0 1rem;
    opacity: 0.7;
}
.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
   
}
.player-controls img:hover {
    opacity: 1;
}
#play {
    height: 1.6rem;
}
#play:hover {
    transform: scale(1.1);
}
.progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}
#range {
    width: 70%;
    appearance: none;
    background-color: #ddd;
    cursor: pointer;
    height: 0.2rem;
    border-radius: 100px;
}
#range::-webkit-slider-thumb { /*-webkit-slider-progess..for slider*/
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
}
